<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HHCuteView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D762A481CFD1E3D00D48F42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D762A611CFD1E3E00D48F42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D762A6C1CFD1E3E00D48F42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
